/project/backup
/project/lib/x86_64-win64
/source/backup
/package/lib/x86_64-win64
/project/*.exe
/project/*.lps
/package/backup

package/lib/x86_64-darwin/

project/idetester_standalone.app/

project/lib/x86_64-darwin/

project/idetester_standalone

project/idetester_example

package/lib/x86_64-linux/

project/lib/x86_64-linux/

/ide/backup
/ide/lib/x86_64-win64
